[Unit]
Description=Icecast source mp3 restream
After=source.service
Requires=source.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=elaine
ExecStart=/usr/bin/bash /home/elaine/app/source_daemon/src/mp3stream.sh

[Install]
WantedBy=multi-user.target